// define the color pallete
$base-color1: #574ae2;
$base-color2: #222a68;
$base-color3: #654597;
$base-color4: #ab81cd;
$base-color5: #e2adf2;

// define base font properties
$base-font-size : 20px;
$generic-font-style : 'Raleway', sans-serif;
$base-border-radius :2px;
$base-font-weight : 100;
