// define the color pallete
$base-color1: #0a1128;
$base-color2: #001f54;
$base-color3: #034078;
$base-color4: #1282a2;
$base-color5: #fefcfb;

// define base font properties
$base-font-size : 20px;
$generic-font-style : 'Raleway', sans-serif;
$base-border-radius :2px;
$base-font-weight : 100;
